---
import "./Modal.module.css"
import { classesTextHeader } from "@/text/classesTextHeader"
import { classMerge } from "@/utils/ui/classMerge"
import { buttonVariant } from "@/button/buttonCva"
import Button from "@/button/Button.astro"

/**
 * https://github.com/markteekman/accessible-astro-components/blob/main/Modal.astro
 */
interface Props {
  triggerId: string
  title: string
  titleClass?: string
  closeText?: string
  class?: string
  classContentArea?: string
}

const props = Astro.props
const triggerId = props.triggerId
const title = props.title
const titleClass = props.titleClass
const closeText = props.closeText ?? "Close"
const classContentArea = props.classContentArea
const closeId = `${triggerId}-close`
---

<dialog
  class={classMerge(
    "modal",
    "fixed m-auto",
    "max-w-5xl",
    "bg-white dark:bg-gray-900 text-black dark:text-white", // bg
    "border-1 border-black p-4 rounded-xl", // border
    props.class,
  )}
  aria-labelledby={triggerId}
>
  <div class={classMerge("w-full rounded-xl", classContentArea)}>
    <div class="modal-content flex flex-col items-start gap-2 p-4">
      <h2 tabindex="-1" class={classMerge(classesTextHeader, titleClass)}>
        {title}
      </h2>
      <slot>Modal description</slot>
      <Button id={closeId} variant={buttonVariant.outline} class="modal-close w-full">{closeText}</Button>
    </div>
  </div>
</dialog>

<script>
  import { modal } from "./modal"
  modal()
</script>
