---
import TailwindIndicator from "~ui/dev/TailwindIndicator.astro"

import { classMerge } from "~ui/utils/ui/classMerge"
import { classArr } from "../utils/ui/classArr"

export interface Props {
  lang?: string
  title: string
  description?: string
  meta?: Record<string, string>
  class?: string
  bodyClass?: string
}

const p = Astro.props
---

<!doctype html>
<html lang={p.lang ?? "en"}>
  <head>
    <!-- Base -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- Site -->
    <title>{p.title}</title>
    {p.description && <meta name="description" content={p.description} />}

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <!-- Icons -->
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="icon" sizes="32x32" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Crawlers -->
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    {
      p.meta && (
        <Fragment>
          {Object.entries(p.meta).map(([k, v]) => (
            <meta property={k} content={v} />
          ))}
        </Fragment>
      )
    }
    <slot name="head" />
  </head>
  <body
    class={classMerge(
      "min-h-dvh w-full", // full screen
      "font-sans antialiased text-foreground", // text
      p.bodyClass,
    )}
  >
    <slot name="navbar" />
    <main
      id="main"
      class={classArr(
        "relative min-h-dvh w-full", // full screen
        p.class,
      )}
    >
      <slot />
    </main>
    <slot name="footer" />
    <TailwindIndicator />
  </body>
</html>
