---
import Img from "~ui/img/Img.astro"
import LinkButton from "~ui/link/LinkButton.astro"
import { classMerge } from "~ui/utils/classMerge"

interface Props {
  class?: string
  imageClass?: string
  textClass?: string
}

const p = Astro.props
---

<LinkButton href="/" class={classMerge("flex gap-2", p.class)}>
  <Img
    src={"/logo.svg"}
    alt="Logo"
    class={classMerge("size-6", p.imageClass)}
    loadingLazy={false}
    decodeAsync={false}
  />
  <!-- <Icon path={iconPathLogo} />
  <svg class={p.imageClass} viewBox="0 0 24 24" fill="currentColor">
    <path d={iconPathLogo}></path>
  </svg> -->
  <span class={classMerge("text-lg text-bold", p.textClass)}>astro-ui</span>
</LinkButton>
