---
import { buttonVariant } from "~ui/button/buttonCva"
import { astroElementId } from "~ui/layouts/parts/astroElementId"
import ThemeToggle from "~ui/layouts/parts/ThemeToggle.astro"
import { classArr } from "~ui/utils/ui/classArr"
import { classMerge } from "~ui/utils/ui/classMerge"
import LogoIconText from "./LogoIconText.astro"
import LinkButton from "~ui/link/LinkButton.astro"
import { iconGithub } from "@/layout_parts/iconGithub"
import { iconNpm } from "@/layout_parts/iconNpm"

interface Props {
  logoClass?: string
  logoImgClass?: string
  logoTextClass?: string
  class?: string
  innerClass?: string
  themeToggleClass?: string
}

const p = Astro.props
const iconClass = ""
const textClass = ""

const githubUrl = "https://github.com/adaptive-shield-matrix/astro-ui"
const npmUrl = "https://www.npmjs.com/package/@adaptive-sm/astro-ui"
---

<nav id={astroElementId.navbar} class={classMerge("w-full pt-1 px-6 pb-4", p.class)}>
  <div class={classArr("flex flex-wrap gap-2 justify-between items-center", "max-w-7xl mx-auto", p.innerClass)}>
    <LogoIconText
      class={p.logoClass}
      imageClass={classArr(iconClass, p.logoImgClass)}
      textClass={classArr(textClass, p.logoTextClass)}
    />
    <LinkButton icon={iconGithub} href={githubUrl} title="Github">Code</LinkButton>
    <LinkButton icon={iconNpm} iconClass="size-8" href={npmUrl} title="NPM">Package</LinkButton>
    <ThemeToggle class={p.themeToggleClass} iconClass={iconClass} textClass={textClass} variant={buttonVariant.link} />
  </div>
</nav>
