---
import Button from "~ui/button/Button.astro"
import { buttonVariant, type ButtonSize, type ButtonVariant } from "~ui/button/buttonCva"
import { classesTextHeader } from "~ui/text/classesTextHeader"
import { classMerge } from "~ui/utils/classMerge"
import "./Modal.module.css"

/**
 * https://github.com/markteekman/accessible-astro-components/blob/main/Modal.astro
 */
interface Props {
  triggerId: string
  title: string
  titleClass?: string
  closeText?: string

  close?: {
    text?: string
    variant?: ButtonVariant
    size?: ButtonSize
    class?: string
    icon?: string
    iconClass?: string
  }

  class?: string
  classContentArea?: string
}

const p = Astro.props
const triggerId = p.triggerId
const title = p.title
const titleClass = p.titleClass
const classContentArea = p.classContentArea
const closeId = `${triggerId}-close`
---

<dialog
  class={classMerge(
    "modal",
    "fixed m-auto",
    "max-w-5xl",
    "bg-white dark:bg-gray-900 text-black dark:text-white", // bg
    "border-1 border-black p-4 rounded-xl", // border
    p.class,
  )}
  aria-labelledby={triggerId}
>
  <div class={classMerge("w-full rounded-xl", classContentArea)}>
    <div class="modal-content flex flex-col items-start gap-2 p-4">
      <h2 tabindex="-1" class={classMerge(classesTextHeader, titleClass)}>
        {title}
      </h2>
      <slot>Modal description</slot>
      <Button
        id={closeId}
        icon={p.close?.icon}
        iconClass={p.close?.iconClass}
        size={p.close?.size}
        variant={p.close?.variant ?? buttonVariant.outline}
        class={classMerge("modal-close w-full", p.close?.class)}>{p.close?.text ?? "Close"}</Button
      >
    </div>
  </div>
</dialog>

<script>
  import { modal } from "./modal"
  modal()
</script>
